.maps {
    min-height: 100vh;
    // min-width: 100vw;
    margin-left: 250px;
    // margin-right: 100px;
}

.text-location {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

p.clickable {
    cursor: pointer;
}

.separator {
    border: 1px solid lightgrey;
}